.header {
  background-image: url("../../public/BackgroundWallpaper.webp");
  background-repeat: no-repeat;
  padding: 150px;
  font-family:  Georgia;
  color: white;
  font-size: 24px;
  font-style: oblique;
  text-align: center;
}

.myBackground {
  background-image: url("../../public/BackgroundWallpaper.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.myNavBar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #ddd;
  color: rgb(231, 223, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

.myNavBarButton{
  font-family:  Georgia;
  color: rgb(4, 4, 4);
  font-size: 24px;
  font-style: bold;
  text-align: center;

}

.myNavBarButton:active {
  color: blue;
  font-size: 20px;
}
.bodyBackground {

  height:100%;
}

.waveContainer {
  position: relative;
  width: 400px; /* adjust the width as needed */
  height: 400px; /* adjust the height as needed */
  margin: 50px auto;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  width: 400px; /* adjust the width as needed */
  height: 400px; /* adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.wave::before {
  left: -50%;
  animation-delay: 0s;
}

.wave::after {
  left: 0%;
  animation-delay: 2s;
}

@keyframes wave-animation {
  0% {
    transform: translate(-50%, 0) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, 0) scale(1);
  }
}
.waveRed {
  background-color: #FF0000;
}

.footer {
  position: absolute;
  bottom: 0;
}

