/* Gradient background */
.header {
    position: relative;
    background: linear-gradient(to top, #345555, #345555, #242425);
    padding: 100px;
    font-family:  Georgia;
    color: white;
    font-size: 24px;
    font-style: oblique;
    text-align: center;

    z-index: 3;
  }
  .myBackground {
    background: linear-gradient(to bottom, #345555 25%, #4d6e6d 50%, #b0c8c9 75%,#ffffff 100%);
    position: absolute;
    height: 100%;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    z-index: 2;
  }
  
  
  
  .backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 55px;
    height: 35px;
    z-index: 1;
  }
  
  .backButtonA {
    position: absolute;
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-size: 12px;
    z-index: 1;
  }

  .paperBlock {
    margin-top: 5px;
    padding: 10px;  
    width: 100%;
    max-width: 400px;
    height: 400px;
    border: 5px solid #333;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
    background-color: #b0c4de;
    overflow: auto;
    flex-direction: column;
  }
  .paperWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 5px;
    padding: 0 5%;
    margin-bottom: 20px;
    
  }
  .leftWall {
    background: linear-gradient(to top, #ffffff , #345555,#345555);
    position: absolute;
    height: 1000px;
    left: 0px;
    bottom: 0px;
    width: 7%;
    background-color: gray;
    z-index: 2;
  }
  .rightWall {
    background: linear-gradient(to top, #ffffff , #345555,#345555);
    position: absolute;
    height: 100%;
    right: 0px;
    bottom: 0px;
    width: 5%;
    background-color: gray;
    z-index: 2;
  }
  .mainBody {
    position: relative;
    height: 100%;
    width: 100%;
  }
.paperLink:hover {
    color:#1E90FF;
}
.footer {
  position: absolute;
  bottom: 0;
}
  
  